{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
    content %}
    <form method="POST">
      <h3 align="center">Sign Up</h3>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
          required
        />
      </div>
      <div class="form-group">
        <label for="fullname">Full Name</label>
        <input
          type="text"
          class="form-control"
          id="fullname"
          name="fullname"
          placeholder="Enter full name"
          required
        />
      </div>
      <div class="form-group">
        <label for="password1">Password</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Enter password"
          required
        />
      </div>
      <div class="form-group">
        <label for="password2">Password (Confirm)</label>
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          placeholder="Confirm password"
          required
        />
      </div>
      <div class="form-group">
        <label for="jobTitle">Job Title</label>
        <select class="form-control" id="jobTitle" name="jobTitle" required>
          <option value="Software Developer">Developer</option>
          <option value="QA Engineer">Tester</option>
          <option value="Manager">Manager</option>
          <option value="Designer">Designer</option>
          <option value="Scrum Master">Administrator</option>
          <option value="Support">Support</option>
        </select>
    </div>
    {% if user.is_admin %}
    <!-- Optional: Allow admin to assign roles during sign-up -->
    <div class="form-group">
      <label for="role">Role</label>
      <select class="form-control" id="role" name="role">
        <option value="user" selected>User</option>
        <option value="admin">Admin</option>
      </select>
    </div>
    {% endif %}
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% endblock %}